* {
    font-size: 15px;
}
body{
background-color: grey;
height: 100vh;
font-family: "Iosevka Charon", monospace;
}
form{
display: flex;
align-self: center;
margin-left: 30.25%;
margin-right: 29.75%;

}
.row {
    display: flex;
    flex-direction: row;
}
#n4 {
    width: 30%;
    height: 5vh;
    border: 3px solid rgb(119, 174, 41);
    background-color: rgb(123, 158, 70);
    transition: 0.5s;
    font-size: 17px;
}
#n4:hover{
    background-color: hotpink;
    border: 3px solid rgb(128, 23, 76);
    width: 35%;
}

.wiencej {
    padding-left: 30px;
    padding-left: 30px;
}
input, textarea {
    border-radius: 5px;
}

.Nagłówek {
    text-align: center;
    font-size: 30px;
}
.fieldset {
    background-color: rgb(174, 174, 54);
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
}
.Polecenia {
    margin:0px;
    display: inline-block;
}
.Polecenian {
    margin:0px;
    width: fit-content;
}
.Onput {
    margin-bottom: 20px;
}
.Powrot {
    background:rgb(122, 169, 57);
    text-decoration: none;
    color: white;
    border: 3px solid black;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border-radius: 10px;
}
.Powrot:hover {
    background:rgb(53, 72, 26);
}
.beta {
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin-left: 5%;
    margin-top: 30%;
}
#k1 {
    margin-right: 124px;
}
#k2 {
    margin-right: 90px;
}
#k3 {
    margin-right: 68px;
}
#k4 {
    margin-right: 46px;
}
#k5 {
    margin-right: 100px;
}
#k6 {
    margin-right: 118px;
}
#k7 {
    margin-right: 118px;
}
#k8 {
    margin-right: 5px;
}

.part2 {
    margin-bottom: 1px;
}
.select {
    display: inline-block;
    margin-right: 20px;
}
.Osobny {
    width: fit-content;
    margin-bottom: 0px;
}
.All {
    width: fit-content;
    display: inline;
}
@media (max-width: 531px) {
    form {
        margin-left: 10%;
    }
}
@media (max-width: 411px) {
    form {
        margin-left: 3%;
        margin-right: 5%;
    }
}
